interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer TEST_TOKEN
    method: GET
    uri: https://api.clever.com/v2.1/teachers?limit=1000
  response:
    body:
      string: '{"data":[{"data":{"email":"leatha.abernathy@example.org","school":"58da8c58155b940248000007","title":"Grade
        3 Common Branch Teacher","created":"2017-03-28T16:16:28.915Z","sis_id":"10","ext":{"admin_permissions":"N"},"schools":["58da8c58155b940248000007"],"district":"58da8a43cc70ab00017a1a87","name":{"first":"Leatha","last":"Abernathy","middle":"D"},"teacher_number":"670963","state_id":"735356441","credentials":{"district_username":"abernathy.leatha"},"last_modified":"2017-08-08T16:05:44.099Z","id":"58da8c5ca7a7e5a64700005a"},"uri":"/v2.1/teachers/58da8c5ca7a7e5a64700005a"},{"data":{"teacher_number":"539224","last_modified":"2017-08-08T16:05:44.105Z","sis_id":"11","email":"spinka.leo@example.net","ext":{"admin_permissions":"N"},"district":"58da8a43cc70ab00017a1a87","state_id":"688477516","created":"2017-03-28T16:16:28.918Z","name":{"last":"Spinka","middle":"R","first":"Leo"},"school":"58da8c58155b940248000007","title":"Grade
        3 Common Branch Teacher","schools":["58da8c58155b94024800[...]
