interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer TEST_TOKEN
    method: GET
    uri: https://api.clever.com/v2.1/students?limit=1000
  response:
    body:
      string: "{\"data\":[{\"data\":{\"ext\":{\"gifted_status\":\"\"},\"location\":{\"state\":\"\",\"zip\":\"10459\",\"address\":\"\",\"city\":\"\",\"lat\":\"\",\"lon\":\"\"},\"credentials\":{\"district_username\":\"stevez33\"},\"sis_id\":\"100095233\",\"email\":\"z.steve@example.net\",\"last_modified\":\"2017-08-08T16:05:50.871Z\",\"name\":{\"first\":\"Steve\",\"last\":\"Ziemann\",\"middle\":\"G\"},\"student_number\":\"100095233\",\"gender\":\"M\",\"school\":\"58da8c58155b940248000007\",\"schools\":[\"58da8c58155b940248000007\"],\"district\":\"58da8a43cc70ab00017a1a87\",\"enrollments\":[],\"created\":\"2017-03-28T16:16:35.025Z\",\"grade\":\"Kindergarten\",\"dob\":\"2/11/2007\",\"state_id\":\"231786324\",\"graduation_year\":\"\",\"race\":\"Black
        or African American\",\"hispanic_ethnicity\":\"Y\",\"id\":\"58da8c63d7dc0ca0680003ed\"},\"uri\":\"/v2.1/students/58da8c63d7dc0ca0680003ed\"},{\"data\":{\"dob\":\"6/18/1998\",\"name\":{\"first\":\"Douglas\",\"last\":\"Wisoky\",\"middle\":\"S\"},\"graduation_year\":\"\",\"hispanic_ethnicity\":\"N\",\"email\":\"w_douglas@example.net\",\"sis_id\":\"101565758\",\"grade\":\"9\",\"student_number\":\"101565758\",\"district\":\"58da8a43cc70ab00017a1a87\",\"last_modified\":\"2019-06-23T16:05:27.654Z\",\"ext\":{\"gifted_status\":\"N\"},\"school\":\"58da8c58155b94[...]
